.footer__txt{
	color: #fbfbfb;
	font-weight: 400;
	text-align: center;
}

.footer__txt_name{
	font-size: 19.96px;
	line-height: 24px;
	margin-bottom: 16px;
}

.footer__txt_desc{
	font-weight: 300;
}