.nav-list__lbl{
	display: block;
	padding: 11px;
	border-left: 5px solid #ef5b70;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 18px;
	text-transform: uppercase;
	color: #ef5b70;
	cursor: pointer;
}