.product__popup{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 65px 20px;
	border: 1px solid #EAEAEA;
	background-color: #fff;
	position: relative;
	top: -65px;
	max-width: 1140px;
	margin: 0 auto;
	@media (max-width: 768px) {
		top: 0;
	}
}