.product-card{
	width: 360px;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 7px 30px;
	padding: 0 0 20px 0;
	background: #F8F8F8;
	text-decoration: none;
	&:hover{
		.product-card__link:after{
			visibility: visible;
		}
		.product__add-btn{
			visibility: visible;
		}
	}

}