.pagination__list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	& *{
		text-decoration: none;
		font-size: 16px;
		line-height: 19px;
		font-weight: 300;
		color: #c4c4c4;

	}
	& a{
		&:hover{
			color: #ef5b70;
		}
		&:active{
			text-decoration: underline;
		}
	}
	& li{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	& .no-margin{
		margin-right: 0;
	}
	& .cur-page{
		color: #ef5b70;
	}
}