.cart__card-box{
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	width: 57%;
	box-sizing: border-box;
	@media (max-width: 1180px) {
		width: 100%;
		justify-content: space-around;
		margin-bottom: 62px;
		padding: 0 16px;
	}
}